<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Wiki</title>
    <link
      href="https://fonts.cdnfonts.com/css/pokemon-solid"
      rel="stylesheet"
    />
    <!-- Any other stylesheets or metadata -->
  </head>
  <body>
    <div class="header-container">
      <h2>Welcome to the Pokemon Wiki</h2>
      <img class="pokeball" src="assets/pokeball.png" alt="Pokeball" />
    </div>

    <h1 *ngIf="title">{{ title }}</h1>
    <div class="pokemon-wiki">
      <div class="search-bar">
        <label for="search">Search a Pokemon by name:</label>
        <input
          id="search"
          type="text"
          [(ngModel)]="pokemonName"
          (keyup.enter)="confirmSearch()"
          [class.name-confirmed]="isSearchConfirmed && !searchError"
          placeholder="Search Pokemon"
        />
        <button (click)="confirmSearch()">Search</button>
        <div *ngIf="searchError" class="error-message">
          Error: Pokemon not found!
        </div>
      </div>

      <div class="sort-by">
        <label for="sort">Sort by:</label>
        <select
          id="sort"
          [(ngModel)]="selectedSortOption"
          (change)="onSortChange($event)"
        >
          <option value="id">Index</option>
          <option value="name">Name</option>
          <option value="type">Type</option>
        </select>
      </div>

      <div class="pokemon-list">
        <div
          *ngFor="let pokemon of pokemons"
          class="pokemon-item"
          [id]="'pokemon-' + pokemon.id"
          [class.found]="isSearchedPokemon(pokemon)"
        >
          <div class="pokemon-details">
            <div class="pokemon-image">
              <img [src]="pokemon.image" [alt]="pokemon.name" />
            </div>
            <div class="pokemon-info">
              <h2>{{ pokemon.name }}</h2>
              <p>{{ pokemon.description }}</p>
              <div class="pokemon-stats">
                <strong>Stats:</strong>
                <p>
                  HP: {{ pokemon.stats.hp }}, Attack:
                  {{ pokemon.stats.attack }}, Defense:
                  {{ pokemon.stats.defense }}, Speed:
                  {{ pokemon.stats.speed }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
